In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import sys
import glob
import re
import requests
from matplotlib.patches import Rectangle
from datetime import datetime
sns.set()

In [5]:
# from notebook.services.config import ConfigManager
# c = ConfigManager()
# c.update('notebook', {"CodeCell": {"cm_config": {"autoCloseBrackets": False}}})

{'CodeCell': {'cm_config': {'autoCloseBrackets': False}}}

In [4]:
race = pd.read_csv('./CovidTracker_test_data/Race Data - Tracker Commits.csv')
race.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Positives,Unnamed: 9,...,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Race,...,NaN,NaN,NaN,NaN,NaN,Ethnicity,NaN,NaN,NaN,NaN
1,NaN,NaN,Update Time,Source,Update Time (Et),Last Check,Checker,DC,Total,Known White,...,Known NHPI,Known Multiracial,Other,Unknown,% Unk.,Known Hispanic,Known Non-Hispanic,Unknown,% Unk.,NaN
2,20200503.0,AK,NaN,NaN,5/03 14:00,5/03 22:16,SAR,AM,368,216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(4/29 SPA) The dashboard no longer holds data ...
3,20200503.0,AL,NaN,NaN,5/03 0:00,5/3 22:27,SAR,AM,7888,3518,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!
4,20200503.0,AR,NaN,NaN,5/03 3:40,5/3 22:42,SAR,AM,3431,1762,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!

In [247]:
pd.json_normalize(resp.json()['epidata']).time_value

0       20200201
1       20200201
2       20200201
3       20200201
4       20200201
          ...
3645    20200202
3646    20200202
3647    20200202
3648    20200202
3649    20200202
Name: time_value, Length: 3650, dtype: int64

In [ ]:
url_to_present_date = 'https://covidtrackerapi.bsg.ox.ac.uk/api/v2/stringency/date-range/2020-01-02/' \
                        + str(datetime.now().date())
response = requests.get(url_to_present_date)
response_json = response.json()
response_json_nested_dict = response_json['data']

In [ ]:
url_to_present_date = 'https://covidtrackerapi.bsg.ox.ac.uk/api/v2/stringency/date-range/2020-01-02/' \
                        + str(datetime.now().date())
response = requests.get(url_to_present_date)
response_json = response.json()
response_json_nested_dict = response_json['data']

In [40]:
before_minus_after.columns = before_minus_after.columns.str.split('_').str.join(sep=' ')
before_minus_after_residual_df.columns = before_minus_after_residual_df.columns.str.split('_').str.join(sep=' ')

## Instead of datetime slicing I should have just been using days since first case.